Package: com.intervalmedia.modmenutemplate
Name: NoJbModMenu
Depends: mobilesubstrate
Version: 2
Architecture: iphoneos-arm
Description: Imgui mod menu cheat template
Maintainer: IntervalMedia
Author: IntervalMedia
